
body {
  margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  background: url("/images/crossword.png");
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.copyright {
	margin: 50px 0;
}

.navbar-transparency {
  opacity: 0.9;
}

.about {
  font-size: 1.4em;
}

@media(min-width: 992px) { 
  .project-margin-offset { 
    margin-top:30px; 
  }  
}

.anchor {
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}