
body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  background: url("/images/crossword.png");
}

footer {
	margin: 50px 0;
}

.navbar-transparency {
  opacity: 0.9;
}

.about {
  font-size: 17px;
}